<h3>Welcome to URL shortner!</h3>

<ul id="urls">
  <% @urls.each do |url| %>
  <li>
    <p>
      <b>Long Url</b><br />
      <%= url.long_url %></p>
    <p>
      <b>Short Url</b><br />
      <%= link_to url.short_url, url_path(url) %></p>
      <%= link_to "Delete Url", url_path(url), method: :delete %>
  </li>
  <% end %>
</ul>

<%= link_to "Shorten a link", new_url_path, class: "new_url" %>
